html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

a {
    text-decoration: none !important;
}

.footer {
    color: $daLightblue;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background: $primary;
}

.header {
    background: $daLightblue;
    margin-bottom: 28px;

    .logo-container {
        width: 144px;
        height: 116px;
        background-color: $primary;
        padding: 36px 20px 20px 20px;
    }

    .nav-link {
        padding: 2.375rem 1rem 0.5rem 0;
    }

    @include media-breakpoint-down(lg) {
        margin-bottom: 20px;
    }
}

.bread_search {
    background: $daMedblue;
    font-size: 14px !important;

    .breadcrumb {
        color: $daLightblue !important;
        background: $daMedblue;
        padding-left: 0;
        margin: 3px 0 0 0;
        font-size: 16px;

        .active {
            color: $daYellow !important;
            font-weight: bold;
        }

        i {
            color: $daLightblue;
        }
    }

    .has-search .form-control {
        margin-top: 10px;
        margin-bottom: -5px;
        padding-left: 2.375rem;
        height: 30px !important;
        background-color: lighten($daMedblue, 5%);
        color: $daLightblue;
        border-color: lighten($daMedblue, 10%);
    }

    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }
}

.series {
    &.jumbotron {
        background: $daLightblue !important;
        border-bottom: 3px solid $daYellow;
        margin-bottom: 0;
        padding-bottom: 2.25rem;

        h1 {
            font-size: 30px !important;
            color: $daDarkblue !important;
            font-family: "Source Sans Pro";
            font-weight: lighter;
            margin-block-start: -1em;

            &:after {
                content: "";
                display: block;
                width: 3%;
                border-bottom: 4px solid $daYellow;
                padding: 10px 0px;
            }

            padding-bottom: 10px;
        }

        hr {
            background: $daYellow;
            margin-top: 15px;
            margin-bottom: 20px;
        }

        p {
            font-family: "Source Serif Pro";
            color: $daMedblue;
        }

        @include media-breakpoint-down(lg) {
            h1 {
                &:after {
                    display: none;
                }

                padding-bottom: 0;
            }

            hr {
                margin-bottom: 10px;
            }

            padding-bottom: 0.6rem;
        }
    }
}

.series_body {
    p {
        font-size: 16px;
        font-family: "Source Sans Pro";
        font-weight: lighter !important;
        font-color: $daMedblue;
    }

    .badge {
        color: darken($daGrey, 25%);
        background-color: $daGrey;
        padding: 0 2px auto;
        font-size: 14px;
        font-weight: normal;
    }

    h2 {
        font-size: 22px !important;
        color: $daCyan !important;
        font-family: "Source Sans Pro";
        font-weight: lighter;
        margin: 6px 0 auto;

        a {
            color: $daCyan !important;
        }
    }
}

.series_nav {

    font-size: 14px !important;
    margin-bottom: 25px;

    .series_nav_head {
        background-color: $daMedblue;
        color: $daLightblue;
        padding: 8px;

    }

}
