// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$breadcrumb-divider: quote(">");

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//Custom
$daYellow: #fec230;
$daDarkblue: #162533;
$daLightblue: #e7eff7;
$daMedblue: #3c4c5b;
$daGreen: #5b7676;
$daCyan: #2573ba;
$daGrey: #e2e8f0;
$primary: $daDarkblue;
$secondary: $daMedblue;

$theme-colors: (
    "daYellow": $daYellow,
    "daDarkblue": $daDarkblue,
    "daLightblue": $daLightblue,
    "daMedblue": $daMedblue,
    "daGreen": $daGreen,
    "daCyan": $daCyan,
    "daGrey": $daGrey,
    "primary": $daDarkblue,
    "secondary": $daMedblue,
);
